[Unit]
Description=Redis Commander

[Service]
User={{ run_as}}
WorkingDirectory={{ install_path }}
ExecStart=/usr/bin/redis-commander
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
