[Unit]
Description=Virtual Sensor 1: {{ sensor1_name }}

[Service]
User={{ run_as}}
WorkingDirectory={{ install_path }}/virtual-sensor
ExecStart=/usr/bin/nodejs virtual-sensor.js --hostname broker.iot.local --name {{ sensor1_name}} --analog --min {{ sensor1_min }} --max {{ sensor1_max }} --delay {{sensor1_delay }}
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
