[Unit]
Description=Virtual Sensor 3: {{ sensor3_name }}

[Service]
User={{ run_as}}
WorkingDirectory={{ install_path }}/virtual-sensor
ExecStart=/usr/bin/nodejs virtual-sensor.js --hostname broker.iot.local --name {{ sensor3_name}} --analog --min {{ sensor3_min }} --max {{ sensor3_max }} --delay {{sensor3_delay }}
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
