[Unit]
Description=Virtual Sensor Simple

[Service]
User={{ run_as}}
WorkingDirectory={{ install_path }}/virtual-sensor
ExecStart=/usr/local/bin/virtual-sensor-simple.sh
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
