[Unit]
Description=Virtual Sensor 2: {{ sensor2_name }}

[Service]
User={{ run_as}}
WorkingDirectory={{ install_path }}/virtual-sensor
ExecStart=/usr/bin/nodejs virtual-sensor.js --hostname broker.iot.local --name {{ sensor2_name}} --analog --min {{ sensor2_min }} --max {{ sensor2_max }} --delay {{sensor2_delay }}
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
